:root {
  --black-color: #212121;
  --white-color: #fbfbfb;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background: var(--black-color);
}

h1 {
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: 0.6rem;
}

h2,
.cs-heading-2 {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}

p {
  color: var(--white-color);
}

.navbar-toggler {
  background-color: var(--white-color);
}

.cs-btn {
  background: var(--white-color);
  color: var(--black-color);
  border-radius: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1.1rem 1.8rem;
  letter-spacing: 0.2rem;
}

/* Header */
.home-header {
  height: 95vh;
  background-image: url(/images/hero.png);
  background-size: cover;
  background-position: 0 15%;
}

/* Main photo gallery */
.cs-main-img {
  width: 100%;
  height: auto;
}

/* Footer */
ion-icon {
  color: var(--white-color);
  font-size: 2rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

ion-icon:last-child {
  margin-right: 0;
}

.copyright {
  font-size: 0.8rem;
}

/* Media query */
@media (max-width: 767px) {
  h1 {
    font-size: 3rem;
    letter-spacing: 0.3rem;
  }

  h2,
  .cs-heading-2 {
    font-size: 1.2rem;
  }

  ion-icon {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .copyright {
    font-size: 0.5rem;
  }
}

@media (max-width: 575px) {
  h1 {
    font-size: 2.5rem;
  }
  .copyright {
    text-align: center;
  }
}
